*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
background-color: black;
color: white;
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#spanCloud{
    color: aqua;
}

h2{
    background-color: purple;
    color: white;
    font-style: italic;
    text-align: center;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

h3{
    background-color: aquamarine;
    color: midnightblue;
    text-align: right;
    text-decoration: underline;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}